body {
    background: white;
    margin: 0;
    padding: 0 3em;
    height: 100vh;
    box-sizing: border-box;
}

.all {
    display: flex;
    gap: 3em;
    height: 100%;
}

.left {
    flex-grow: 1;
    background-color: blueviolet;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10em;
    gap: 1em;
}

.item {
    background: blue;
    height: 100px;
}