body {
    background: black
}

.box {
    background-color: rgb(4, 4, 105);
    border-radius: 4px;
    color: rgb(48, 0, 0);
}

.parent {
    display: grid;
    grid-template-rows: 100px 200px 200px 100px;
    grid-template-columns: 200px 1fr 1fr;
    gap: 10px;
    grid-template-areas:
        "a a a"
        "b c d"
        "b e e"
        "f f f"
    ;
}

.box-one {
    grid-area: a;
}

.box-two {
    grid-area: b;
}

.box-three {
    grid-area: c;
}

.box-four {
    grid-area: d;
}

.box-five {
    grid-area: e;
}

.box-six {
    grid-area: f;
}